html {
   --top-spacing: 100px;
   scroll-padding-top: var(--top-spacing);
}

*,
*::before,
*::after {
   box-sizing: inherit;
}
h1,h2,h3,h4,h5,h6{
   padding: 0;
   margin: 0;
}
a {
   display: inline-block;
   text-decoration: none;
}

ul,
li {
   margin: 0;
   padding: 0;
   list-style: none;
}

body {
   box-sizing: border-box;
   // font-family: 'Quicksand', sans-serif;
   // font-family: "Raleway", sans-serif;
   font-family: 'Roboto', sans-serif;
   font-size: 24px;
   line-height: 1.5;
   font-weight: 400;
   background-color: $white;
   margin: 0;
   padding: 0;
}

body._lock {
   overflow: hidden;
}

.container {
   max-width: 1230px;
   margin: 0 auto;
   padding: 0 15px;
}

.title {
   color: $black;
   font-weight: 700;
   font-size: 56px;
   text-align: center;
   font-family: "Raleway", sans-serif;
   span{
      color: $orange;
   }
}
