@import "vars";
@import "global";
@import "fonts";
@import "keyframes";

.header {
   width: 100%;
   background-color: $orange;
}
.menu {
   height: 90px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.menu__list {
   font-size: 16px;
   font-family: "Quicksand", sans-serif;
   font-weight: 500;
   text-transform: uppercase;
}
a.menu__list-item {
   color: $white;
   padding: 5px 10px;
}
.btn {
   cursor: pointer;
   border: none;
   background-color: $white;
   width: 140px;
   height: 55px;
   border-radius: 20px;
   color: $yellow;
   font-size: 18px;
   font-weight: 700;
   box-shadow: 3px 4px 4px 0px rgba(255, 168, 0, 1);
   transition: all 0.2s linear;
   &:hover {
      box-shadow: -3px -4px 4px 0px rgba(255, 168, 0, 1);
      margin-top: 5px;
   }
}

.home {
   background: url("../images/bg/home-bg.jpg") center no-repeat;
   height: 90vh;
   position: relative;
}
.home__title {
   color: #ff8a56;
   font-size: 72px;
   display: flex;
   justify-content: center;
   padding-top: 40px;
}

.home__p-1,
.home__p-2,
.home__list {
   color: $white;
   font-size: 18px;
   font-weight: 700;
   position: absolute;
}
.home__p-1 {
   width: 500px;
   text-align: right;
   padding-bottom: 30px;
   padding-right: 30px;
   padding-left: 130px;
   border-right: 2px solid #fff;
   border-bottom: 2px solid #fff;
   top: 30%;
   left: 20%;
}
.home__p-2 {
   text-align-last: left;
   width: 430px;
   border-left: 2px solid #fff;
   border-top: 2px solid #fff;
   padding-top: 30px;
   padding-left: 30px;
   top: 55%;
   left: 10%;
}
.home__list {
   padding-top: 30px;
   padding-left: 30px;
   border-top: 2px solid #fff;
   border-left: 2px solid #fff;
   width: 370px;
   bottom: 0;
   right: 0;
   margin: 0 50px 50px 0;
}

.services {
   background: url("../images/bg/lines.svg") center no-repeat, rgba(229, 229, 229, 1);
   background-size: cover;
   padding: 40px;
   background-attachment: fixed;
}
.services__inner {
   display: grid;

   grid-template-rows: 1fr 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr;
}
.services__item {
   background-color: $white;
   text-align: center;
   width: 450px;
   height: 100%;
   padding: 10px;
   box-shadow: 5px 5px 20px 0px rgba(243, 103, 32, 0.5);
}
.services__item-title {
   color: $orange;
   font-size: 28px;
   font-weight: 700;
   line-height: 1.2;
}
.services__item-info {
   color: $black;
   font-size: 20px;
   line-height: 1.2;
}
.services__item-1 {
   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 2;
   grid-column-end: 2;
}
.services__item-2 {
   margin: -40px 0 0 -80px;
   grid-row-start: 2;
   grid-column-start: 2;

   grid-row-end: 3;
   grid-column-end: 3;
   z-index: 1;
}
.services__item-3 {
   margin: -50px 0 0 0;
   grid-row-start: 3;
   grid-column-start: 1;

   grid-row-end: 4;
   grid-column-end: 2;
}
.services__item-4 {
   margin: 0 0 0 -160px;
   grid-row-start: 3;
   grid-column-start: 3;

   grid-row-end: 4;
   grid-column-end: 4;
}
.services__item-5 {
   margin: -40px 0 0 -100px;
   grid-row-start: 4;
   grid-column-start: 2;

   grid-row-end: 5;
   grid-column-end: 3;
   z-index: 1;
}

.portfolio {
   background: url("../images/bg/atoms.png"), rgba(239, 239, 239, 1) no-repeat;
   background-size: cover;
   padding: 90px 0;
}
.portfolio__title {
   font-size: 48px;
   margin-bottom: 100px;
}
.portfolio__menu {
   text-align: center;
   margin-bottom: 50px;
}
.portfolio__menu-item {
   font-weight: 700;
   color: $black;
   &.active {
      color: $orange;
   }
   &:hover {
      color: $orange;
   }
   & + & {
      margin-left: 15px;
   }
}
.portfolio__inner {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.portfolio__item {
   width: 360px;
   height: 290px;
   overflow: hidden;
   margin: 15px;
   position: relative;
}
.portfolio__img {
   position: absolute;
   z-index: 1;
   min-width: 100%;
}
.portfolio__info {
   display: flex;
   flex-direction: column;
   z-index: 2;
   opacity: 0;
   transition: opacity 0.2s linear;
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   justify-content: center;
   text-align: center;
   background-color: $orange;
   &:hover {
      opacity: 0.7;
   }
}
.portfolio__name {
   color: $white;
   font-size: 18px;
   font-weight: bold;
   margin-bottom: 15px;
}
.portfolio__src {
   color: $white;
   font-size: 18px;
   font-weight: bold;
   &:hover {
      text-decoration: underline;
   }
}

.cooperation {
   background: url("../images/bg/call.jpg") center no-repeat;
   background-size: cover;
   padding: 120px;
   text-align: center;
   background-attachment: fixed;
}
.cooperation__title {
   color: $white;
   font-size: 48px;
}
.cooperation__btn {
   display: inline-block;
   text-align: center;
   width: 200px;
   height: 60px;
   font-size: 22px;
   font-family: "Quicksand", sans-serif;
}

.skills {
   background: url("../images/bg/skills.jpg") center no-repeat;
   background-size: cover;
   padding: 90px 0;
   margin-top: 100px;
}
.skills__title {
   text-align: center;
   margin-bottom: 90px;
   color: $white;
   font-weight: 700;
   font-size: 56px;
   span {
      color: $orange;
   }
}
.skills__inner {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.skills__item {
   width: 40%;
   border-radius: 10px;
   font-size: 11px;
   line-height: 20px;
   letter-spacing: 1px;
   color: $white;
   margin-right: 45px;
   margin-bottom: 50px;
}
.skills__item-title {
   font-size: 36px;
   font-weight: 700;
}
.skills__item-bar {
   height: 15px;
   border-radius: 15px;
   margin-top: 10px;
}

.skills__item-bar-2,
.skills__item-bar-4,
.skills__item-bar-10 {
   background: linear-gradient(90deg, rgba(255, 86, 0, 1) 0%, rgba(254, 154, 106, 1) 100%, rgba(255, 239, 231, 1) 100%);
}
.skills__item-bar-1,
.skills__item-bar-5,
.skills__item-bar-7,
.skills__item-bar-11 {
   background: linear-gradient(90deg, rgba(255, 86, 0, 1) 0%, rgba(254, 154, 106, 1) 90%, rgba(255, 239, 231, 1) 100%);
}
.skills__item-bar-8,
.skills__item-bar-12 {
   background: linear-gradient(90deg, rgba(255, 86, 0, 1) 0%, rgba(254, 154, 106, 1) 20%, rgba(255, 239, 231, 1) 70%);
}
.skills__item-bar-3,
.skills__item-bar-6,
.skills__item-bar-9 {
   background: linear-gradient(90deg, rgba(255, 86, 0, 1) 0%, rgba(254, 154, 106, 1) 50%, rgba(255, 239, 231, 1) 90%);
}

.contacts {
   padding: 90px;
}
.contacts__title {
   margin-bottom: 50px;
}
.contacts__inner {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.contacts__item {
   width: 40%;
}
.contacts__card {
   text-align: center;
   width: 550px;
   background-color: #fff;
   padding: 30px;
   box-shadow: 4px 4px 3px 0px rgba(124, 124, 126, 0.7);
   transition: all 0.2s ease;
   &:hover{
      margin-left: 4px;
      box-shadow: 0px 0px 0px 0px rgba(124, 124, 126, 0.7);
   }
}
.contacts__card-top {
   display: flex;
   align-items: center;
   a {
      font-size: 20px;
   }
}
.contacts__card-img {
}
.contacts__card-item {
   display: inline-block;
   text-decoration: underline;
   color: $grey;
}
.contacts__card-bottom {
   display: flex;
   align-items: center;
   a {
      font-size: 28px;
   }
}
.contacts__card-top__a {
   span {
      font-weight: 700;
      color: $black;
      text-align: center;
   }
   display: flex;
   flex-direction: column;
   width: 280px;
}
.contacts__img {
}
.form {
   width: 50%;
}
.contacts__form-title {
   font-size: 32px;
   line-height: 1.2;
   width: 90%;
   margin-bottom: 50px;
}
.contacts__form {
   width: 530px;
   display: flex;
   flex-direction: column;
   align-items: center;
   input,
   textarea {
      display: block;
      width: 100%;
      margin-bottom: 30px;
      height: 60px;
      border: none;
      background-color: #fff;
      padding-left: 15px;
      color: $grey;
      font-family: "Quicksand", sans-serif;
      box-shadow: 4px 4px 3px 0px rgba(124, 124, 126, 0.7);
   }
}
.contacts__name {
}
.contacts__email {
}
.contacts__tel {
}
.contacts__services {
}
.contacts__message {
   padding-top: 20px;
   min-height: 160px;
   resize: none;
}
.contacts__form-btn {
   background-color: $orange;
   color: $white;
   width: 190px;
   border-radius: 5px;
}

.footer {
   background-color: $orange;
   padding: 18px 0;
}
.footer__copy {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.copy {
   color: $white;
   font-size: 16px;
}
.menu__logo {
}

@import "media";
